* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  list-style: none;
}


header {
  background-color: white;
  width: 100%;
  border-bottom: 1px solid gray;

}

.header_container {
  width: 1440px;
  margin: auto;
  display: flex;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

.menu_list {
  display: flex;
  margin: auto;
  margin-left: 12em;
  font-size: 14px;
}

.menu_list>li {
  white-space: nowrap;
  margin-right: 30%;
  list-style: none;
  letter-spacing: 3px;
}

.menu_list>li>a {
  text-decoration: none;
  color: black;
}

.logo {
  width: 9em;
  height: 6em;
}

.tel_block {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 40%;
  text-align: center;
}

.tel_block>a {
  color: rgb(93, 93, 93);
  text-decoration: none;
  font-size: 14px;
}

.contacts_container {
  width: 1440px;
  margin: auto;
  text-align: center;
  margin-top: 5%;
  display: flex;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 5%;
}

.contacts_block {
  margin-top: 3%;
  width: 50%;
  text-align: left;

}

.contacts_block>p:not(:first-child) {
  margin-top: 3%;
}

.contacts_block>p {
  font-size: 20px;

}

.contacts_block>ul>li {
  font-size: 20px;
  margin-top: 3%;
}

.contacts_block>p>a {
  text-decoration: none;
  color: black;
}

.ogrn,
.inn {
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin-top: 1%;
}

.map_block {
  width: 50%;
  margin-top: 3%;

}

.map {
  margin-left: 15%;
}

.information_block {
  margin-top: 3%;
  text-align: left;
}

.information_block>p:not(:first-child) {
  margin-top: 3%;
}

.information_block>p {
  font-size: 20px;

}

.information_block>p>a {
  text-decoration: none;
  color: black;
}

.information_container {
  width: 1440px;
  margin: auto;
  text-align: center;
  margin-top: 2%;
  display: flex;
}

.information_block {
  margin-top: 3%;
  text-align: left;
}

.legal_block>p:not(:first-child) {
  margin-top: 3%;
}

.legal_block>p {
  font-size: 20px;

}

.legal_block > p > a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.legal_block > p > a:not(:first-child) {
  margin-top: 2%;
}

.legal_block > p > a:hover {
  color: rgb(149, 149, 149);
  transition: color 0.5s;
}

.legal_container {
  width: 1440px;
  margin: auto;
  text-align: center;
  margin-top: 2%;
  display: flex;
}
footer{
  background-color: #555555;
}
.footer_container{
  width: 1440px;
  margin: auto;
  height: 50px;
  margin-top: 3%;
}

.footer_text{
  display: flex;
}

.footer_text > .footer_email{
  margin-left: 10%;
}
.footer_text > .footer_company,  .footer_email{
  margin-top: 1%;
  font-size: 18px;
  color: #b0b0b0;
}
