* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    list-style: none;
  }
  
  
  header {
    background-color: white;
    width: 100%;
    border-bottom: 1px solid gray;
  
  }
  
  .header_container {
    width: 1440px;
    margin: auto;
    display: flex;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
  }
  
  .menu_list {
    display: flex;
    margin: auto;
    margin-left: 12em;
    font-size: 14px;
  }
  
  .menu_list>li {
    white-space: nowrap;
    margin-right: 30%;
    list-style: none;
    letter-spacing: 3px;
  }
  
  .menu_list>li>a {
    text-decoration: none;
    color: black;
  }
  
  .logo {
    width: 9em;
    height: 6em;
  }
  
  .tel_block {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 40%;
    text-align: center;
  }
  
  .tel_block>a {
    color: rgb(93, 93, 93);
    text-decoration: none;
    font-size: 14px;
  }

  .houses_container {
    width: 1440px;
    margin: auto;
    text-align: center;
    margin-top: 5%;
    display: flex;
  }
  
  h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 5%;
  }

  table.iksweb{
	width: 70%;
	border-collapse:collapse;
	border-spacing:0;
	height: auto;
    margin: auto;
}
table.iksweb,table.iksweb td, table.iksweb th {
	border: 1px solid #595959;
}
table.iksweb td,table.iksweb th {
	padding: 3px;
	width: 30px;
	height: 25px;
}
table.iksweb th {
	background: #347c99; 
	color: #fff; 
	font-weight: normal;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: rgb(149, 149, 149);
  transition: color 0.5s ease;
}