body{
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
scroll-behavior: smooth;
background-image: url(/assets/img/mint-blue-watercolor-texture-background-wallpaper.jpg);

}
.logo{
    width: 9rem;
}

.material-symbols-outlined{
    color: black;
}
.my-carousel{
    padding: 0;
}
.header{
    padding: 0;
}

.text_info{
    text-align: left;
}
h1, h3, p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.info_container{
    margin-top: 3rem;
}
.alink{
  text-decoration: none;
  color: black;
}
.alink:hover{
    color: rgb(149, 149, 149);
  transition: color 0.5s;
}
.aliink:after:hover{
    color: #000000;
  transition: color 0.5s;
}


/* Стилизация ссылок */

td>.link {
	color: #6d6565; /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}
.link {
	color: #000000; /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}
.link:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: rgb(245, 177, 6); /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

.link:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: blue; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}
